@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

* {
    padding: 0;
    margin: 0;
    transition: all .2s;
}

body {
    height: 100vh;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conversion {
    flex: 1;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 50px 0;
    transition: all .3s;

    textarea {
        flex: 1;
        overflow: auto;
        height: auto;


        font-family: "Abyssinica SIL", serif;

        width: 90%;
        max-width: 700px;
        transition: all .3s;

        background: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 2rem;
        outline: solid rgba(185, 185, 185, 0);
        color: #777272;
        box-shadow: 0 5px 10px #adadad;



        &:focus {
            border-radius: 10px;
            color: #2e2d2c;
            background: #fff;





        }



        &::-webkit-scrollbar {
            display: none;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-corner {
            display: none;
        }

        &::-webkit-scrollbar-track {
            display: none;
        }


    }

    span {
        width: 60px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all .3s;
        gap: 5px;
        padding: 0 5px;


        button {
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 5px;
            box-shadow: 0 5px 10px #adadad;
            cursor: pointer;
            transition: all .3s;



            i {
                font-size: 1.6rem;
                color: #474141;
            }


            &:hover {
                background: #dddddd;
            }

            &:active {
                background: #474747;

                i {
                    color: #ffffff;
                }
            }
        }

        a {
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 5px;
            box-shadow: 0 5px 10px #adadad;
            cursor: pointer;
            transition: all .3s;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            i {
                font-size: 1.6rem;
                color: #474141;
            }


            &:hover {
                background: #dddddd;
            }

            &:active {
                background: #474747;

                i {
                    color: #ffffff;
                }
            }
        }
    }


}




@media (max-width: 768px) {

    .conversion {
        flex-direction: column-reverse;
        align-items: center;

        textarea {
            font-size: 1.3rem;
        }

        span {
            flex: 1;
            flex-direction: row;
            width: 93%;
            justify-content: start;

            button {
                width: 40px;
                height: 40px;

                i {
                    font-size: 20px;
                }
            }
        }
    }

}

.history-container {
    width: 0;
    max-width: 90%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #79797983;
    border-radius: 10px;
    background: #fff;


    ul {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        height: 200px;
        gap: 5px;
        margin: 10px 5px;

        li {
            flex: 1 150px;
            text-align: center;
            background: #5f5f5f;
            width: fit-content;
            color: #fff;
            padding: 10px;
            font-size: 1.4rem;
            list-style: none;
            border-radius: 10px;
            white-space: wrap;
            height: fit-content;

            &:hover {
                background: #7e7e7e;


            }
        }




    }

    .back {
        margin: 10px;
        cursor: pointer;
        height: 20px;
        width: fit-content;
        font-size: 1.7;
        color: #000000;
        padding: 10px;
        font-size: 1.4rem;
        list-style: none;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        background: #ebebeb;

        &:hover {
            background: #cfcfcf;


        }

    }

    .clea-all {
        margin: 10px;
        cursor: pointer;
        height: 20px;
        width: fit-content;
        color: #fff;
        padding: 10px;
        font-size: 1.4rem;
        list-style: none;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        background: #ff6f6f;


        &:hover {
            background: #f70707;


        }

    }

}